[workspace]
members = [
  "packages/env",
  "packages/cc_proxy",
  "packages/ld_proxy",
  "packages/wrapper",
]
resolver = "2"

[workspace.lints.clippy]
pedantic = "warn"
missing_errors_doc = "allow"
missing_panics_doc = "allow"
missing_safety_doc = "allow"

[workspace.dependencies]
async-recursion = "1"
byteorder = "1"
clap = { version = "4.2.1", features = ["derive"] }
fnv = "1"
futures = "0.3"
goblin = "0.8"
itertools = "0.12"
libc = "0.2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tangram_client = { git = "https://github.com/tangramdotdev/tangram", rev = "234beba91a827d780690b70de595a181aa341a11" }
tangram_error = { git = "https://github.com/tangramdotdev/tangram", rev = "234beba91a827d780690b70de595a181aa341a11" }
tokio = { version = "1", default-features = false, features = ["rt", "macros", "fs", "parking_lot"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["json", "parking_lot"] }
xattr = "1"

tangram_env = { path = "packages/env" }
tangram_wrapper = { path = "packages/wrapper" }
tangram_cc_proxy = { path = "packages/cc_proxy" }
tangram_ld_proxy = { path = "packages/ld_proxy" }

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = "abort"
strip = true
