[workspace]
members = [
  "packages/manifest_tool",
  "packages/tgcc",
  "packages/tgld",
  "packages/tgstrip",
  "packages/wrapper",
]
resolver = "3"

[workspace.package]
authors = ["Tangram <root@tangram.dev>"]
description = "Userspace utilities for the Tangram standard library"
edition = "2024"
homepage = "https://www.tangram.dev"
license = "MIT"
publish = false
repository = "https://github.com/tangramdotdev/packages"
rust-version = "1.91"
version = "0.0.0"

[workspace.lints.clippy]
missing_errors_doc = "allow"
missing_panics_doc = "allow"
missing_safety_doc = "allow"
pedantic = { level = "warn", priority = -1 }
result_large_err = "allow"

[workspace.dependencies]
anstream = "0.6"
bytes = { version = "1", features = ["serde"] }
clap = { version = "4", features = ["derive", "env"] }
crossterm = "0.28"
fnv = "1"
futures = "0.3"
goblin = "0.9"
itertools = "0.14"
libc = "0.2"
num = "0.4"
paste = "1"
rustix = { version = "1", features = ["all-apis"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tangram_client = { default-features = false, git = "https://github.com/tangramdotdev/tangram", rev = "4dd1ae684e45cdb8e581aaad5609212dc40a42c7" }
tangram_either = { git = "https://github.com/tangramdotdev/tangram", rev = "4dd1ae684e45cdb8e581aaad5609212dc40a42c7" }
tangram_serialize = { default-features = false, git = "https://github.com/tangramdotdev/tangram", rev = "4dd1ae684e45cdb8e581aaad5609212dc40a42c7" }
tempfile = "3"
tokio = { version = "1", default-features = false, features = [
  "rt",
  "macros",
  "fs",
  "parking_lot",
] }
tokio-stream = { version = "0.1", default-features = false, features = ["fs"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["json", "parking_lot"] }
zerocopy = { version = "0.8", features = ["derive"] }

tangram_std = { path = "." }
manifest_tool = { path = "packages/manifest_tool" }
tgcc = { path = "packages/tgcc" }
tgld = { path = "packages/tgld" }
tgstrip = { path = "packages/tgstrip" }
wrapper = { path = "packages/wrapper" }

[profile.release]
codegen-units = 1
lto = true
panic = "abort"
strip = true

[package]
name = "tangram_std"

description = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
publish = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }

[lib]
path = "packages/std/lib.rs"

[lints]
workspace = true

[dependencies]
anstream = { workspace = true }
manifest_tool = { workspace = true }
bytes = { workspace = true }
clap = { workspace = true }
crossterm = { workspace = true }
futures = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tangram_client = { workspace = true }
tangram_either = { workspace = true }
tangram_serialize = { workspace = true }
tokio = { workspace = true }
tempfile = { workspace = true }
tracing = { workspace = true, optional = true }
tracing-subscriber = { workspace = true, optional = true }

[features]
tracing = ["dep:tracing", "dep:tracing-subscriber"]
default = ["tracing"]
