[workspace]
members = ["packages/cc_proxy", "packages/ld_proxy", "packages/wrapper"]
resolver = "2"

[workspace.package]
authors = ["Tangram <root@tangram.dev>"]
description = "Userspace utilities for the Tangram standard library"
edition = "2021"
homepage = "https://www.tangram.dev"
license = "MIT"
publish = false
repository = "https://github.com/tangramdotdev/packages"
rust-version = "1.77.0"
version = "0.0.0"

[workspace.lints.clippy]
missing_errors_doc = "allow"
missing_panics_doc = "allow"
missing_safety_doc = "allow"
pedantic = { level = "warn", priority = -1 }

[workspace.dependencies]
bytes = "1"
clap = { version = "4", features = ["derive"] }
fnv = "1"
futures = "0.3"
goblin = "0.8"
itertools = "0.13"
libc = "0.2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tangram_client = { default-features = false, git = "https://github.com/tangramdotdev/tangram", rev = "f19c744524a7194bd1eaf82fc597cf62a8e81123" }
tokio = { version = "1", default-features = false, features = [
  "rt",
  "macros",
  "fs",
  "parking_lot",
] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["json", "parking_lot"] }

tangram_wrapper = { path = "packages/wrapper" }
tangram_cc_proxy = { path = "packages/cc_proxy" }
tangram_ld_proxy = { path = "packages/ld_proxy" }

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = "abort"
strip = true
