[package]
name = "tgrustc"
authors = ["Tangram <root@tangram.dev>"]
description = "Wrapper for the rustc binary to spawn tangram processes"
edition = "2024"
homepage = "https://www.tangram.dev"
license = "MIT"
publish = false
repository = "https://github.com/tangramdotdev/packages"
rust-version = "1.85.0"
version = "0.0.0"

[features]
tracing = ["dep:tracing", "dep:tracing-subscriber"]

[dependencies]
fnv = "1"
futures = "0.3"
itertools = "0.14"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tangram_client = { default-features = false, git = "https://github.com/tangramdotdev/tangram", rev = "460d7fd0ef9dec9d7a2ff137a727f322fd73b16f" }
tokio = { version = "1", default-features = false, features = [
  "rt",
  "fs",
] }
tracing = { version = "0.1", optional = true }
tracing-subscriber = { version = "0.3", features = ["json"], optional = true }

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = "abort"
