[package]
name = "tangram_wrapper"
version = "0.0.0"
edition = "2021"

[lints]
workspace = true

[dependencies]
byteorder = { workspace = true }
fnv = { workspace = true }
itertools = { workspace = true }
libc = { workspace = true }
futures = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tangram_client = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
xattr = { workspace = true }
